.home-header {
  @include container-margins;
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  position: relative;
  @media only screen and (max-width: $tablet_max) {
    flex-direction: column;
  }
  z-index: 1;
  &__content {
    flex-basis: calc((100% / 2) - 2rem);
  }
  &__title {
    font-size: 3rem;
    span {
      color: $tan;
      display: block;
    }
  }
  &__desc {
    margin: 1.5rem 0;
  }
  &__cta {
    background-color: $tan;
    color: $white;
    outline: none;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.1rem;
    display: inline-block;
    margin-top: 1.5rem;
    &--nofill {
        background-color: transparent;
        border: 1.2px solid $tan;
        color: $tan;
        margin-left: 2rem;
    }
  }
  &__image {
    flex-basis: calc((100% / 2) - 2rem);
    @media only screen and (max-width: $tablet_max) {
      margin-top: 2rem;
    }
    figure {
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: $box-shadow-light-black--3;
    &::before {
      content: "";
      position: relative;
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 66.5%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
&__stats {
    position: absolute;
    bottom: -40px;
    right: 0;
    z-index: 10;
    background-color: $tan;
    box-shadow: $box-shadow-light-black;
    @media only screen and (max-width: $tablet_max) {
      position: relative;
    }
    ul {
        display: flex;
        padding: 1.5rem 2rem;
        @media only screen and (max-width: $tablet_max) {
          padding: 1rem 1.5rem;
        }
    }
    li {
        margin-right: 3rem;
        @media only screen and (max-width: $tablet_max) {
          margin-right: 1rem;
        }
        p {
            color: $white;
        }
    }
    &-list-item-title {
        font-size: 1.3rem;
        text-shadow: 1px 1px 2px $blue;
        margin-bottom: 0.5rem;
        @media only screen and (max-width: $tablet_max) {
          font-size: 1rem;
        }
    }
    &-list-item-num {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;
        text-shadow: 1px 1px 2px $blue;
        @media only screen and (max-width: $tablet_max) {
          font-size: 0.8rem;
        }
    }
}
}

.our-services {
    background-color: $blue;
    padding: 6rem 0;
    @media only screen and (max-width: $tablet_max) {
      padding: 3rem 0;
    }
    &__title {
        color: $white;
        text-align: center;
        letter-spacing: 1.4px;
        text-align: center;
        font-weight: 300;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        margin: 5rem 0;
        @include container-margins;
        @media only screen and (max-width: $tablet_max) {
          flex-direction: column;
          margin: 2.5rem 0;
        }
    }
    &__service {
        text-align: center;
        margin-right: 3.5rem;
        position: relative;
        @media only screen and (max-width: $tablet_max) {
          margin-right: 0;
          margin-bottom: 2.5rem;
        }
        &::after {
            content: '';
            position: absolute;
            top: 30%;
            right: 0;
            width: 0.3px;
            height: 65%;
            background-color: rgba($white, 0.7);
            @media only screen and (max-width: $tablet_max) {
              display: none;
            }
        }
        &:nth-child(3) {
            &::after {
              display: none;
            }
          }
    }
    &__service-icon {
        height: 2.2rem;
        margin-bottom: 1.2rem;
    }
    &__service-title {
        color: $white;
        font-weight: 300;
        margin-bottom: 2rem;
    }
    &__service-desc {
        text-align: left;
        padding: 1.5rem 2.5rem;
        color: rgba($white, 0.7);
    }
}

.c-about-us {
    @include container-margins;
    margin: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: $tablet_max) {
      flex-direction: column;
    }
    &__heading {
        color: $tan;
        font-weight: 800;
        margin-bottom: 0.8rem;
        text-transform: uppercase;
    }
    &__title {
        margin-bottom: 1.2rem;
        font-size: 2.2rem;
        font-weight: 400;
        span {
            color: $tan;
            font-weight: 500;
        }
    }
    &__desc {
      color: $dark-grey;
    }
    &__content {
        flex-basis: calc((100% / 2) - 1rem);
    }
    &__image {
        flex-basis: calc((100% / 2) - 1rem);
        @media only screen and (max-width: $tablet_max) {
          margin-top: 3rem;
        }
        figure {
            position: relative;
            margin-bottom: 1rem;
            overflow: hidden;
            box-shadow: $box-shadow-light-black--3;
            &::before {
                content: "";
                position: relative;
                display: block;
                width: 100%;
                height: 0;
                padding-bottom: 66.5%;
              }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: $box-shadow-light-black--3;
        }
    }
}
}