.c-page-services {
    @include container-margins;
    &__header {
        margin-top: 6rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    &__header-title {
        text-transform: uppercase;
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 1.2rem;
        color: $blue;
        letter-spacing: 1.2px;
    }
    &__title {
        font-family: $poppins;
        font-size: 2.1rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
        color: $tan;
    }
    &__sub-title {
        margin-bottom: 2.5rem;
    }
    &__quote-cta {
        border: none;
        outline: none;
        padding: 0.8rem 1.1rem;
        background-color: $blue;
        color: $white;
        border-radius: 2px;
        cursor: pointer;
        box-shadow: $box-shadow-light-black--2;
    }
    &__stats-bar {
        background-color: $blue;
        width: 100vw;
        position: relative;
        top: 0;
        left: calc(50% - 50vw);
        padding: 2.5rem 0;
        box-shadow: $box-shadow-bottom-only-grey;
        margin-bottom: 2.5rem;
    }
    &__stats-list {
        display: flex;
        justify-content: space-between;
        @include container-margins;
    }
    &__stats-list-item {
        text-align: center;
        img {
            height: 5rem;
            @media only screen and (max-width: $tablet_max) {
              height: 3rem;
            }
        }
        h5 {
            color: $white;
            font-size: 1.1rem;
            font-weight: 400;
            @media only screen and (max-width: $tablet_max) {
              font-size: 0.7rem;
            }
        }
        p {
            font-size: 1.4rem;
            font-weight: 400;
            color: $white;
            margin-top: 0.5rem;
            @media only screen and (max-width: $tablet_max) {
              font-size: 1rem;
            }
        }
    }
    &__overview {
        display: flex;
        justify-content: space-between;
        margin-top: 7rem;
        margin-bottom: 4rem;
        @media only screen and (max-width: $tablet_max) {
          flex-direction: column;
          flex-wrap: nowrap;
        }
    }
    &__overview-img {
        position: relative;
        margin-bottom: 1rem;
        overflow: hidden;
        flex-basis: calc((100% / 2) - 2rem);
        box-shadow: $box-shadow-light-black;
        @media only screen and (max-width: $tablet_max) {
            margin-top: 2.5rem;
        }
        &::before {
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 80%;
        @media only screen and (max-width: $tablet_max) {
            padding-bottom: 100%;
        }
        }
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            transition: .3s cubic-bezier(.64,.04,.35,1);
            &:hover {
                transform: scale(1.05);
              }
        }
    }
    &__overview-content {
        flex-basis: calc((100% / 2) - 2rem);
    }
    &__overview-sm-title {
        text-transform: uppercase;
        margin-bottom: 0.75rem;
        font-weight: 500;
        color: $blue;
    }
    &__overview-title {
        font-size: 2rem;
        font-weight: 400;
        color: $tan;
    }
    &__overview-desc {
        font-family: $poppins;
        margin-top: 1.5rem;
        p {
            margin-bottom: 1.5rem;
        }
    }
    &__service-section {
        background-color: rgba($light-grey, 0.1);
        width: 100vw;
        position: relative;
        left: calc(50% - 50vw);
        padding-top: 3.5rem;
        @media only screen and (max-width: $tablet_max) {
          padding-top: 1.5rem;
        }
    }
    &__service-big-title {
      font-size: 1.6rem;
      font-weight: 400;
      text-align: center;
      letter-spacing: 1.2px;
      color: $blue;
    }
    &__service-small-desc {
      text-align: center;
      margin-top: 0.8rem;
      margin-bottom: 3rem;
      font-size: 1.1rem;
      @media only screen and (max-width: $tablet_max) {
        font-size: 0.9rem;
        padding: 0 3rem;
      }
    }
    &__services {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 4rem;
      @media only screen and (max-width: $tablet_max) {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
    &__service-item {
      flex-basis: calc((100% / 3) - 3rem);
      text-align: center;
      margin-bottom: 4rem;
      img {
        height: 3.5rem;
        display: inline-block;
        margin-bottom: 1.2rem;
      }
      h4 {
        color: $blue;
        font-weight: 500;
        margin-bottom: 1.2rem;
      }
      p {
        color: $blue;
      }
    }

    //PROCESS SECTION 
    &__process-section {
      padding: 3rem 2rem;
      background-color: rgba($white, 0.2);
    }
    &__process-header {
      text-align: center;
      margin-bottom: 5rem;
      h4 {
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        letter-spacing: 1.2px;
        color: $blue;
      }
      p {
        margin-top: 1rem;
        font-size: 1.1rem;
        @media only screen and (max-width: $tablet_max) {
          font-size: 0.9rem;
        }
      }
    }
    &__process-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12rem;
      @media only screen and (max-width: $tablet_max) {
        flex-direction: column;
        margin-bottom: 10rem;
      }
      &:last-child {
        @media only screen and (max-width: $tablet_max) {
        margin-bottom: 4rem;
        }
      }
      &:nth-child(even) {
        .c-page-services__process-item-image {
          order: 2;
          @media only screen and (max-width: $tablet_max) {
            order: unset;
          }
        }
      }
    }

    &__process-list {
      margin-top: 15rem;
      @media only screen and (max-width: $tablet_max) {
        margin-top: 10rem;
      }
    }

    &__process-item-number {
      font-size: 8rem;
      font-family: $poppins;
      color: $tan;
      position: absolute;
      top: -125px;
      left: 15px;
      z-index: -1;
    }

    &__process-item-image {
      flex-basis: calc((100% / 2) - 2rem);
      position: relative;
      z-index: 10;
      figure {
        position: relative;
        margin-bottom: 1rem;
        overflow: hidden;
        box-shadow: $box-shadow-light-black--3;
        border-radius: 3px;
        &::before {
          content: "";
          position: relative;
          display: block;
          width: 100%;
          height: 0;
          padding-bottom: 80%;
        }
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          transition: .3s cubic-bezier(.64,.04,.35,1);
          display: block;
          &:hover {
              transform: scale(1.05);
            }
        }
      }
    }

    &__process-item-title {
      font-family: $poppins;
      font-weight: 400;
      font-size: 1.8rem;
      color: $blue;
    }

    &__process-item-desc {
      display: block;
      margin-top: 1.2rem;
    }

    &__process-item-content {
      flex-basis: calc((100% / 2) - 2rem);
    }
      }