.c-single-project {
    @include container-margins;
    &__header {
        margin-top: 4rem;
    }
    &__title {
        font-size: 6rem;
        font-weight: 500;
        @media only screen and (max-width: $tablet_max) {
            font-size: 3.5rem;
        }
        span {
            font-weight: 300;
            font-style: italic;
        }
    }
    &__details-small-title {
        margin-bottom: 2rem;
        text-align: right;
        position: relative;
        margin-top: 7.5rem;
        @media only screen and (max-width: $tablet_max) {
            margin-top: 4rem;
        }
    &::before {
        content: '';
        background-color: $blue;
        width: 90%;
        height: 0.8px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 0;
        @media only screen and (max-width: $tablet_max) {
            width: 75%;
        }
        }
    }
    &__details {
        display: flex;
        justify-content: space-between;
        margin-top: 4.5rem;
        margin-bottom: 3.5rem;
        @media only screen and (max-width: $tablet_max) {
            margin-top: 3rem;
            flex-direction: column;
        }
    }
    &__details-title {
        flex-basis: calc((100% / 2) - 2rem);
    }
    &__details-list {
        @media only screen and (max-width: $tablet_max) {
            margin-top: 2.5rem;
            text-align: left;
        }
        li {
            font-family: $poppins;
            color: $dark-grey;
            font-weight: 500;
            margin-bottom: 0.75rem;
            span {
                color: $black;
                margin-left: 0.4rem;
                a {
                    color: $blue;
                }
            }
        }
    }
    &__meta-info {
        flex-basis: calc((100% / 2) - 2rem);
        text-align: right;
    }
    &__fun-facts-title {
        font-family: $poppins;
        font-weight: 500;
        font-size: 1.3rem;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
    &__fun-facts {
        margin-bottom: 5rem;
        li {
            font-family: $poppins;
            font-size: 0.9rem;
            margin-bottom: 1.2rem;
            @media only screen and (max-width: $tablet_max) {
                margin-bottom: 2.5rem;
            }
            &::before {
                content: '';
                background-color: $blue;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 2rem;
                vertical-align: middle;
                @media only screen and (max-width: $tablet_max) {
                    margin-right: 1rem;
                }
            }
        }
    }
    &__site-images {
        background-color: $blue;
        width: 100vw;
        position: relative;
        left: calc(50% - 50vw);
        padding: 8rem 3.5rem;
        margin-bottom: 3.5rem;
        @media only screen and (max-width: $tablet_max) {
            padding: 4rem 2rem;
        }
    }
    &__image {
        margin-right: 1.5rem;
        border: 1.5px solid $dark-grey;
        figure {
            position: relative;
            overflow: hidden;
            &::before {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 62%;
            }
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                display: block;
            }
        }
    }
}