.site-header {
    @include container-margins;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    @media only screen and (max-width: $tablet_max) {
      display: none;
    }
    &__logo {
        height: 4rem;
    }
    .main-navigation {
        ul {
            display: flex;
            li {
                margin-right: 1rem;
                a {
                    color: $dark-grey;
                }
            }
        }
    }
}

.quote-btn, .gform_button {
        background-color: $blue;
        color: $white;
        outline: none;
        border: none;
        padding: 0.8rem 1.2rem;
        border-radius: 3px;
        cursor: pointer;
        font-size: 1.1rem;
}

.search-btn {
  height: 1.1rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.c-popup-modal {
  background-color: $white;
  max-width: 50%;
  margin: 0 auto;
  box-shadow: $box-shadow-light-black;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: 300ms;
  z-index: -1;
  border-radius: 3px;
  @media only screen and (max-width: $tablet_max) {
    max-width: 100%;
    width: 90%;
    flex-direction: column;
  }
  svg {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      cursor: pointer;
      path {
              fill: $white;
      }
  }
  &__header {
    background-color: $blue;
    width: 100%;
    height: 175px;
    display: block;
    padding: 3.5rem 2.5rem;
  }
  &__content {
    color: $white;
  }
  &__form {
      padding-top: 2.5rem;
      padding-left: 5rem;
      padding-right: 2.5rem;
      padding-bottom: 2.5rem;
      @media only screen and (max-width: $tablet_max) {
          padding-top: 2.5rem;
          padding-left: 2.5rem;
      }
      .gform-field-label {
        font-family: $poppins;
      }

      input[type="text"] {
        font-family: $archivo !important;
        display: block;
        margin-bottom: 1.5rem !important;
        padding-left: 0.3rem;
    }
    textarea, input[type="email"] {
        font-family: $poppins;
    }

      .gform_button {
        font-family: $poppins !important;
        background-color: $blue !important;
        color: $white !important;
        font-weight: 500 !important;
      }
      .gform_footer {
        margin-top: 3.5rem !important;
    }
    .gform_confirmation_message {
        text-align: center;
        font-family: $poppins;
        color: $blue;
        padding: 8rem 2.5rem;
        margin-top: 2rem;
        position: relative;
        &::before {
            content: '';
            background-image: url('../img/icons/check-icon.svg');
            background-size: 30px 30px;
            width: 30px;
            height: 30px;
            display: block;
            position: absolute;
            top: 25%;
            left: 50%;
        }
    }
  }
  &__title {
    font-family: $sora;
    font-weight: 500;
    text-align: center;
    color: $white;
    margin-bottom: 1.2rem;
  }

  &__content { 
    p {
      font-family: $archivo;
      display: block;
      margin-bottom: 1.5rem;
    }
  }
  &__active {
      opacity: 1;
      z-index: 10000;
  }
}

#gform_wrapper_1 {
  legend, label {
    font-family: $archivo;
  }
}

.overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 300ms ease-in;
}

.show-overlay-menu {
  opacity: 1;
  visibility: visible;
  z-index: 3000;
}

.header-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
  transition: 300ms;
  button {
      display: none;
  }
  &:after {
      background-color: $blue;
      background-size: cover;
      width: 100%;
      height: 1px;
      content: '';
    display: block;
  }
}

.search-form {
  width: 100%;
}

.search-field {
  width: 100%;
  border: none;
  outline: none;
  line-height: 2rem;
  font-family: $archivo;
}

.search-icon {
  height: 1.2rem;
  cursor: pointer;
  @media only screen and (max-width: $tablet_max) {
    display: none;
  }
}

.close-icon {
  height: 2rem;
  cursor: pointer;
  margin-top: 1.5rem;
  margin-right: 2rem;
  position: absolute;
  right: 0;
  @media only screen and (max-width: $tablet_max) {
    margin-top: 1rem;
    margin-right: 1.5rem;
    }
}

//MOBILE MENU 

.mobile-header {
  display: none;
  @media only screen and (max-width: $tablet_max) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include container-margins;
    margin-top: 1.5rem;
  }
  &__logo {
    height: 2.5rem;
    display: block;
  }
    &__menu-icon {
      width: 35px;
      height: 15px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $black;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
    }
  }

  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 9px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 36px;
  }
  
.mobile-menu-overlay {
  opacity: 0;
  background-color: $blue;
  width: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  transition: all 300ms ease-in;
  display: block;
  z-index: -1;
  &__active {
    opacity: 1;
    z-index: 2000;
}
&__container {
  @include container-margins;
}
&__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

&__close-icon {
  height: 1.8rem;
  display: block;
  cursor: pointer;
}
&__logo {
  height: 2.5rem;
  display: block;
}
}

.mobile-navigation {
  margin-top: 4.5rem;
  margin-left: 1rem;
  ul {
    li {
      a {
        font-family: $poppins;
        font-size: 2rem;
        color: $white;
        display: block;
        margin-bottom: 1.2rem;
      }
    }
  }
}

.current_page_item {
  a {
    color: $tan !important;
  &::before {
    display: none;
  }
}
}